In [1]:
import pandas as pd
from functools import reduce

In [2]:
email = pd.read_csv('email_table.csv')
email.head(5)

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,85120,short_email,personalized,2,Sunday,US,5
1,966622,long_email,personalized,12,Sunday,UK,2
2,777221,long_email,personalized,11,Wednesday,US,2
3,493711,short_email,generic,6,Monday,UK,1
4,106887,long_email,generic,14,Monday,US,6

In [3]:
email['email_id'].is_unique

True

In [4]:
email_open = pd.read_csv('email_opened_table.csv')
email_open['email_open'] = 1
email_open.head(5)

   email_id  email_open
0    284534           1
1    609056           1
2    220820           1
3    905936           1
4    164034           1

In [5]:
email_open['email_id'].is_unique

True

In [6]:
click = pd.read_csv('link_clicked_table.csv')
click['click_link'] = 1
click.head(5)

   email_id  click_link
0    609056           1
1    870980           1
2    935124           1
3    158501           1
4    177561           1

In [7]:
click['email_id'].is_unique

True

Since the email_id is unique across the three tables, perform a join on all the tables.

### Calculate the percentage

In [10]:
data_frames = [email, email_open, click]
df_merge = reduce(lambda  left,right: pd.merge(left,right,on=['email_id'], how='left'), data_frames)
df_merge = df_merge.fillna(value=0)
df_merge.head(5)

,email_id,email_text,email_version,hour,weekday,user_country,user_past_purchases,email_open,click_link
0,85120,short_email,personalized,2,Sunday,US,5,0.0,0.0
1,966622,long_email,personalized,12,Sunday,UK,2,1.0,1.0
2,777221,long_email,personalized,11,Wednesday,US,2,0.0,0.0
3,493711,short_email,generic,6,Monday,UK,1,0.0,0.0
4,106887,long_email,generic,14,Monday,US,6,0.0,0.0

In [14]:
print('The percentage of users opened the email:', df_merge['email_open'].mean()*100, '%')
print('The percentage clicked on the link within the email', df_merge['click_link'].mean()*100, '%')

The percentage of users opened the email: 10.345 %
The percentage clicked on the link within the email 2.119 %